body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    color: #747474;
    background-image: url(../img/background-pattern.png);
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    box-sizing: border-box;
}

.main-name {
    font-size: 30px;
    max-width: 1450px;
}

.main-navigation,
.dropdown-menu,
.special-menu {
    font-size: 26px;
}

.main-title {
    font-size: 30px;
}

.icon {
    width: 26px;
    height: 26px;
    top: 6px;
    left: 0px;
}

.page-block .icon {
    left: 13px;
}

.inner-link-pdf,
.inner-link-pdf-blue {
    padding-left: 35px;
}