@font-face {
    font-family: "Century Gothic";
    src: url("../font/centurygothic/CenturyGothic.woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    /*    text-transform: uppercase;*/
    line-height: 1.2;
    color: #747474;
    background-image: url(../img/background-pattern.png);
}

a {
    color: #747474;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #aa3c24;
    text-decoration: none;
}

.link-special {
    color: #aa3c24;
    cursor: pointer;
}

.link-special:hover {
    text-decoration: underline;
}

.link-pdf-blue {
    position: relative;
    display: block;
    margin-bottom: 18px;
    padding-left: 25px;
    color: #747474;
    font-weight: 600;
}

.link-pdf:hover,
.link-pdf-blue:hover {
    color: #aa3b24;
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1008px;
}

.container-table {
    margin: 0 auto;
    width: 100%;
    max-width: 1090px;
}

.container-big-table {
    margin: 0 auto;
    max-width: 100%;
    margin: 0px 20px;
}

img {
    	max-width: 100%; 
    height: auto;
}

.page-content {
    margin-bottom: 50px;
}

.header-border-top {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #fff;
    background-color: #aa3c24;
    -webkit-box-shadow: 0px 0px 80px 5px;
            box-shadow: 0px 0px 80px 5px;
}

.header {
    margin-bottom: 40px;
}

.main-name-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*    max-width: 1000px;*/
    margin: 0 auto;
    /*    временно*/
    margin-bottom: 40px;
}

.logo-wrapper {
    padding-left: 31px;
    padding-top: 9px;
    padding-right: 28px;
    padding-bottom: 14px;
    margin-right: 27px;
    margin-left: 37px;
    z-index: 2;
    min-width: 136px;
    max-height: 152px;
    -webkit-box-shadow: 0px 0px 22px -1px #c4c4c4;
            box-shadow: 0px 0px 22px -1px #c4c4c4;
    background-image: url(../img/background-pattern.png);
    border-radius: 0 0 6px 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.main-name {
    margin: 0;
    margin-top: 40px;
    /*    max-width: 914px;*/
    /*    max-width: 800px;*/
    text-align: center;
    font-family: "Century Gothic", Arial, sans-serif;
    color: #aa3c24;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /*    flex-wrap: wrap;*/

}

.main-navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation-list li {
    margin-right: 55px;
}

.main-navigation-list li:last-child {
    margin-right: 0;
}

.main-navigation {
    font-size: 14px;
    color: #747474;
    text-transform: uppercase;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
    color: #aa3c24;
}

.dropdown-menu {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    display: none;
    width: 650px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-image: url(../img/background-pattern.png);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 30px 30px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-link {
    display: block;
    padding: 5px 22px;
    /*    width: 100%;*/
    font-weight: 400;
    text-transform: none;
}

.dropdown-link:hover,
.dropdown-link:active {
    color: #ffffff;
    background-color: #357f93;
}

.dropdown-link:active {
    background-color: #114e60;
}

.dropdown-link-current {
    color: #ffffff;
    background-color: #357f93;
}

.special-menu {
    padding: 0;
    margin: 0;
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
    color: #747474;
    text-transform: uppercase;
    list-style: none;
}

.main-title {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: left;
    color: #aa3c24;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid #aa3c24;
}


/*table*/
.table-small {
    text-align: left;
}

th {
    color: #ffffff;
    font-weight: 400;
}

.table-title {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #357f93;
    border: 1px solid #357f93;
}

.table-no-more-title {
    font-weight: 400;
    color: #ffffff;
    border: 1px solid #357f93;
    border-bottom: 1px solid #ffffff;
}

.table-no-more tr:last-child .table-no-more-title {
    border-bottom: 1px solid #357f93;
}

.table-title th:not(:last-child) {
    border-right: 1px solid #ffffff;
}

.table-subtitle {
    font-size: 12px;
    background-color: #69B4C9;
    border: 1px solid #69B4C9;
}


.table-subtitle th:not(:last-child) {
    border-right: 1px solid #ffffff;
}

tr {
    border-top: 1px solid #69B4C9;
    border-bottom: 1px solid #69B4C9;
}

td {
    padding: 8px;
    font-size: 14px;
    background-color: #fff;
/*    border-left: 1px solid #69B4C9;*/
    border-right: 1px solid #69B4C9;
}

td:first-child {
    border-left: 1px solid #69B4C9;
}


td:hover:not(.table-no-more-title):not(.table-section) {
    background-color: #d6d6d6;
}

.subtitle {
    font-size: 24px;
    border-bottom: 2px solid;
}

.subtitle-small {
    color: #357f93;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 16px;
}

.subtitle-special {
    font-size: 18px;
    text-decoration: underline
}

.footer {
    font-size: 11px;
/*
    position: absolute;
    bottom: 0;
    width: 1008px;
    max-width: 100%;
*/
}


/*--------------------------------------------------------------------*/

/*Таблица преподавателей*/

.teachers,
.levels {
    display: none;
}

.teachers.open,
.levels.open {
    display: table-row;
}

/**/


.table-normalize tr {
    display: none;
}

.table-normalize tr:first-child,
tr.table-subtitle {
    display: table-row;
}

.table-normalize.show tr {
    display: table-row;
}

.table-wrapper {
    position: relative;
    margin-bottom: 50px;
}

.table-normalize td:not(.table-section),
.table-normalize th {
    /*    text-align: center;*/
    white-space: pre-line;
}

.table-left td:not(.table-title) {
    text-align: left;
}

.table-normalize td {
    padding: 8px;
}

.table-big .table-title,
.table-big td {
    font-size: 12px;
}

.table-section {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    text-align: left;
    font-size: 13px;
    background-color: #A8D7E4;
}

.button-table {
    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -50px;
    padding: 4px 9px;
    color: #ffffff;
    font: inherit;
    background-color: #aa3c24;
    border: 2px solid #aa3c24;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 3px 0px #747474;
            box-shadow: 0px 3px 3px 0px #747474;
}

.button-table:hover {
    background-color: #6f1d0c;

    border-color: #6f1d0c;
}

.button-table:active {
    background-color: #357f93;

    border-color: #357f93;

    outline: none;
}

.button-table-open {
    display: block;
}

.button-show {
    display: block;
}

hr {
    color: #69b4c9;
    background-color: #69b4c9;
    height: 0px;
}

.link-pdf {
    position: relative;
    display: block;
    padding-left: 25px;
    color: #aa3b24;
    font-weight: 600;
}

.page-block .link-pdf {
    padding: 0px 20px;
    padding-left: 43px;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
}

.page-block .icon {
    left: 19px;
}

.table-no-more {
    border-collapse: collapse;
}

.page-block {
    border: 1px dashed #357f93;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

/*ИСПРАВИТЬ СТИЛЬ ЧЕРЕЗ ID*/

.page-subtitle {
    padding: 10px 10px;
    padding-left: 20px;
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    background-color: #357f93;
    border-bottom: 1px dashed #ffffff;
}

.page-text-list {
    background-color: #ffffff;
    background-color: #ffffff;
}

.page-text p,
.page-text-list {
    padding: 5px 20px;
    padding-right: 30px;
    margin: 0;
    text-align: justify;
    font-size: 14px;
}

.page-content:not(:last-child) {
    margin-bottom: 50px;
}

.accessibility {
    display: block;
    text-align: right;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.result-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.link {
    position: relative;
    color: #357f93;
    margin-left: 25px;
}

.result-list-item .link {
    margin-left: 0;
}

.result-list-wrapper {
    width: 780px;
}

.result-title {
    padding-left: 36px;
}

.table-normalize td.special-places-list {
    padding: 0;
    margin: 0;
    text-align: left;
    border: none;
    /*    border-top: 1px solid #69b4c9;*/
}

.table-white {
    background-color: #ffffff;
}

.special-places-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.special-places-list p {
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
}

.special-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 23px;
    padding-right: 23px;
}

.special-item:first-child {
    margin-top: 10px;
}

.show-more {
    padding: 5px 0px;
    margin-left: 23px;
    color: #aa3c24;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    background: none;
}

.special-item-hide {
    display: none;
}

.special-item.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.show {
    display: block;
}

.alphabet,
.level {
    cursor: pointer;
}

.alphabet td {
    color: #081073;
    font-weight: 600;
    font-size: 17px;
}

/*bootstrap*/

/*eduStandarts*/

[role=button] {
    cursor: pointer;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.dropdown,
.dropup {
    position: relative
}

.open > .dropdown-menu {
    display: block
}


/*budget*/
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}