/* old style */

h1 {
    font-size: 15px;
    color: #ffffff;
    background-color: #aa3c24;
    padding-left: 10px;
}

body {
    font-family: Arial;
    background-image: url("../img/background-pattern.png");
}

/*new style*/

.container {
    width: 731px;
    min-height: 1207px;
    margin-bottom: 50px;
    position: relative;
}


a:hover {
    text-decoration: none;
}

a:hover:not(.department-link):not(.child-link) {
    color: #ffffff;
}

.first-line-tree {
    padding: 0;
    margin: 0;

    list-style: none;
}

.parent-line {
    margin: 0 auto;
}

.parent-1 {
    margin-top: 50px;
}

.general-child-list {
    padding: 0;
    margin: 0;

    list-style: none;
    font-size: 13px;
}


.general-child {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #7a7a7a;
    width: 150px;
}


.child-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 150px;
}

.parent-link {
    position: relative;
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
    padding: 10px;
    width: 200px;
    background-color: #aa3c24;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
}

.parent-wrapper {
    position: relative;
    display: flex;
    align-items: start;
}

.child-list-item {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #7a7a7a;
}

.child-list-item:not(:first-child) {
    border-top: none;
}

.child-link {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    color: #747474;
}

.child-wrapper {
    position: absolute;
}

.child-1 {
    top: -11px;
    right: 230px;
}

.child-2 {
    top: 50px;
    right: 23px;
    transform: rotate(-90deg);
}

.vice-rectors {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-vice-rector-wrapper {
    position: absolute;
    top: 67px;
    margin-bottom: 50px;
    width: 150px;
}

.department-link {
    display: block;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    color: #747474;
}

.vice-rector-link {
    position: relative;
    display: block;
    padding: 10px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    background-color: #357f93;
}

.vice-rector-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: none;

    text-align: center;
    list-style: none;
}

.vice-rector-wrapper {
    position: absolute;
    width: 150px;
    margin-right: 10px;
}

.main-vice-rector-link {
    background-color: #747474;
}

.vice-rector-4 {
    top: 60px;
    left: 177px;
}

.vice-rector-2 {
    left: 200px;
    top: 356px;
    width: 300px;
}


.vice-rector-3 {
    top: 514px;
    left: 0px;
}

.vice-rector-5 {
    top: 384px;
    right: 11px;
}

.vice-rector-1 {
    top: 800px;
}

.vice-rector-6 {
    right: 11px;
    top: 915px;
}


.departments-list {
    border: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.department {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #7a7a7a;
}

.department:not(:first-child) {
    border-top: none;
}


/*lines style*/


.vice-rector-link::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    height: 25px;
    width: 2px;
    background-color: inherit;
}


.child-list-item::before {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: #aa3c24;
}

.parent-link-1::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -30px;
    width: 30px;
    height: 2px;
    background-color: inherit;
}

.parent-link-2::before {
    content: "";
    position: absolute;
    top: 30%;
    left: -106px;
    width: 106px;
    height: 2px;
    background-color: inherit;
}

.parent-link-2::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    height: 783px;
    width: 2px;
    background-color: inherit;
}

.general-child-link::before {
    content: "";
    position: absolute;
    bottom: -38px;
    left: 50%;
    height: 38px;
    width: 2px;
    background-color: #aa3c24;
}

.main-vice-rector-link::after,
.vice-rector-link-3::after,
.vice-rector-link-1::after {
    content: "";
    position: absolute;
    bottom: 50%;
    right: -8px;
    width: 8px;
    height: 2px;
    background-color: #747474;
}

.main-vice-rector-link::after {
    width: 27px;
    right: -27px;
}

.vice-rector-link-5::after,
.vice-rector-link-6::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -31px;
    width: 31px;
    height: 2px;
    background-color: #747474;
}

.vice-rector-link-2::after,
.vice-rector-link-4::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #747474;
}


.vice-rector-link-2::after {
    bottom: 50%;
    left: -41px;
    width: 41px;
}

.main-vice-rector-wrapper::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 157px;
    height: 741px;
    width: 2px;
    background-color: #747474;
}

.vice-rector-4::before {
    content: "";
    position: absolute;
    bottom: -26px;
    left: -18px;
    width: 372px;
    height: 2px;
    background-color: #747474;
}

.vice-rector-5::before {
    content: "";
    position: absolute;
    top: -51px;
    /*    left: -44px;*/
    left: -31px;
    height: 606px;
    width: 2px;
    background-color: #747474;
}


.vice-rector-link-4::after {
    content: "";
    position: absolute;
    right: -12px;
    bottom: 50%;
    width: 12px;
    height: 2px;
    background-color: #aa3c24;
}

.parent-2::before {
    content: "";
    position: absolute;
    top: 157px;
    right: 199px;
    width: 192px;
    height: 2px;
    background-color: #aa3c24;
}

.vice-rector-5::after {
    content: "";
    position: absolute;
    top: 24px;
    left: -19px;
    width: 20px;
    height: 2px;
    background-color: #aa3c24;
}

.vice-rector-6::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -19px;
    width: 20px;
    height: 2px;
    background-color: #aa3c24;
}

.vice-rector-2::before {
    content: "";
    position: absolute;
    top: 27px;
    right: -42px;
    width: 42px;
    height: 2px;
    background-color: #aa3c24;
}

.general-child-link::after {
    content: "";
    position: absolute;
    top: 32px;
    left: -12px;
    height: 70px;
    width: 2px;
    background-color: #aa3c24;
}

.child-2::before {
    content: "";
    position: absolute;
    top: -95px;
    right: -29px;
    width: 161px;
    height: 2px;
    background-color: #aa3c24;
}

.vice-rector-2::after {
    content: "";
    position: absolute;
    top: -37px;
    right: 40px;
    width: 295px;
    height: 2px;
    background-color: #aa3c24;
}

.vice-rector-4::after {
    content: "";
    position: absolute;
    top: 32px;
    left: -12px;
    height: 742px;
    width: 2px;
    background-color: #aa3c24;
}

.main-vice-rector-wrapper::after,
.vice-rector-3::before,
.vice-rector-1::before {
    content: "";
    position: absolute;
    top: 24px;
    right: -17px;
    width: 17px;
    height: 2px;
    background-color: #aa3c24;
}

.vice-rector-3::before {
    top: 19px;
}

.vice-rector-1::before {
    top: 32px;
}
